@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: inter;
}

body {
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#profile-card {
  background-color: rgb(31, 31, 31);
  width: 300px;
  height: fit-content;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 270px) {
  #profile-card {
    width: 100%;
  }
}

@media (max-width: 246px) {
  #profile-card {
    padding: 10px;
  }
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.city {
  color: rgb(197, 248, 42);
  font-size: 12px;
}

.quote {
  color:  rgb(255, 255, 255);
  font-size: 12px;
}

#profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

#quote-and-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

#quote-and-links > div {
  width: 100%;
}

#quote-and-links > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(51, 51, 51);
  border-radius: 6px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#quote-and-links > div > a:hover {
  background-color: rgb(197, 248, 42);
}

#quote-and-links > div > a:hover {
  color: black;
}

a {
  color: white;
  font-size: 11px;
  text-decoration: none;
  width: 100%;
}